ion-content {
	--background: var(--ion-color-fff);
}
ion-grid {
	border-bottom: 1px solid #dcd8d8;
	padding: 0.6rem 0;
}
ion-icon {
	vertical-align: middle;
	margin-bottom: 0.2rem;
}
.dis-inherit{
    display: inherit;
    font-weight: 400;
    font-size: 2rem;
}

.topleft-rad{
   border-top-left-radius: 0;
}
.topright-rad{
    border-top-right-radius: 0;
 }
 .seg-pad{
     padding: .4rem 0;
 }
.faild{
    color: var(--ion-color-danger);
}
.success{
    color: var(--ion-color-success);
}
.warning{
    color: var(--ion-color-warning);
}