<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" text=''></ion-back-button>
        </ion-buttons>
        <ion-title>我的好友</ion-title>
        <ion-buttons slot="end">
            <ion-button class="font-size-header ion-header-button" color="light" [routerLink]="['/message-group']">
                群发
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- 上级 -->
    <ion-item class="bottom" (click)="chatDetails('上级代理')">
        <ion-avatar slot="start">
            <img src="assets/images/default.jpg">
        </ion-avatar>
        <ion-label class="list">上级代理</ion-label>
    </ion-item>
    <!-- 下级 -->
    <ion-item *ngFor="let subuser of subUser" (click)="chatDetails(subuser)">
        <ion-avatar slot="start">
            <img src="assets/images/default.jpg">
        </ion-avatar>
        <ion-label class="list">{{subuser}}</ion-label>
    </ion-item>
</ion-content>