<ion-content>
    <div class="container">
        <div class="header">
            <div class="img">
                <img src="../../assets/images/faild-dollar.png" alt="">
            </div>
            <div class="t-center withdraw-text font-14">提现-提到{{withDrawItem.UserName}}的账户</div>
            <div class="t-center withdraw-text font-30 mar-bot">-{{withDrawItem.WithDrawMoney}}</div>
        </div>
        <ion-grid fixed class="body">
            <ion-row>
                <ion-col class="ion-padding" size="12">
                    之前金额<span>{{withDrawItem.BeforeMoney}}</span>
                </ion-col>
                <ion-col class="ion-padding" size="12">
                    之后余额<span>{{withDrawItem.AfterMoney}}</span>
                </ion-col>
                <ion-col class="ion-padding" size="12">
                    提现时间<span>{{withDrawItem.AddTime}}</span>
                </ion-col>
                <ion-col class="ion-padding" size="12">
                    提现单号<span>{{withDrawItem.BankNum}}
                        <ion-icon name="copy" [copy]="withDrawItem.BankNum"></ion-icon>
                    </span>
                </ion-col>
                <ion-col class="ion-padding" size="12" (click)="showDetail()">
                    提现说明<span class="text-over">会员账号：{{withDrawItem.UserName}}，提现金额：{{withDrawItem.WithDrawMoney}},
                        提现时间{{withDrawItem.AddTime}}</span>
                </ion-col>
                <ion-col *ngIf="isShowresult" class="ion-padding" size="12">
                    拒绝原因<span>{{withDrawItem.Commt}}</span>
                </ion-col>
                <ion-col size="12" class="ion-padding prompt">
                    <ion-icon name="information-circle"></ion-icon>
                    温馨提示：若长时间未到账，请复制单号后，<ion-text (click)="custome()" color="secondary">点此联系客服</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>