<ion-segment color="danger" scrollable>
    <ion-segment-button class="seg-pad topleft-rad" checked layout="icon-start" (click)="Filter(0)">
        <ion-label>时间</ion-label>
        <ion-icon name="alarm"></ion-icon>
    </ion-segment-button>
    <ion-segment-button class="seg-pad" layout="icon-start" (click)="Filter(1)">
        <ion-label>金额</ion-label>
        <ion-icon name="paper-plane"></ion-icon>
    </ion-segment-button>
    <ion-segment-button class="seg-pad topright-rad" layout="icon-start" (click)="Filter(2)">
        <ion-label>筛选</ion-label>
        <ion-icon name="hourglass"></ion-icon>
    </ion-segment-button>
</ion-segment>