<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>所有笔记</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="trend">
            <ion-icon name="trending-up"></ion-icon>
            <ion-label>这个写啥</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="add">
            <ion-icon class="font-40" name="add"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="notice">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>消息</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="personal">
            <ion-icon name="contact"></ion-icon>
            <ion-label>我的</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>