.count-down-box {
    background: #f2f2f2;
    .count-down-time {
        text-align: center;
        padding: 0.8rem 0;
    }
}

// 开奖号码部分
.lottery-number-content {
    padding: 0.6rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    .lottery-issue-content {
        .lottery-issue-box {
            position: relative;
            p {
                display: flex;
                align-items: center;
                justify-content: space-between;
                i {
                    font-style: normal;
                }
                .point {
                    color: #e50000;
                    margin: 0 0.4rem;
                }
                .mar-num {
                    margin: 0 0.8rem;
                }
                .icon-size {
                    font-size: 2.2rem;
                    color: #656a7d;
                    vertical-align: middle;
                    margin: 0 0.2rem;
                }

                .swith-btn {
                    width: 5rem;
                    background: #fff;
                    border: 1px solid #f53d3d;
                    border-radius: 1.4rem;
                    outline: 0;
                    position: relative;
                    height: 2.2rem;
                    overflow: hidden;
                    .switch-font {
                        position: absolute;
                        left: 5px;
                        top: 50%;
                        transform: translateY(-60%);
                    }
                    .toggle-circle {
                        background: #f53d3d;
                        height: 1.7rem;
                        width: 1.7rem;
                        display: inline-block;
                        border-radius: 50%;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-52%);
                        right: 4px;
                    }
                }
                .switch-type {
                    .switch-font{
                        right: 4px;
                        left: auto;
                    }
                    .toggle-circle{
                        left: 4px;
                    }
                }
            }
        }
    }

    //   开奖号码 ↓
    .lottery-number-box {
        display: flex;
        padding: 0.8rem 0;
        .number-main {
            flex: 1;
            text-align: center;
            span {
                width: 2.2rem;
                height: 2.2rem;
                background: #be1413;
                border-radius: 50%;
                line-height: 2.2rem;
                text-align: center;
                font-size: 2rem;
                color: #fff;
            }
        }
        .refresh-btn {
            margin: 0 0.5rem;
            background: none;
            color: #be1413;
            ion-icon {
                font-size: 2.4rem;
            }
        }
    }
}
