<div class="count-down-box">
    <p class="count-down-time">第<strong>{{issueInfo.CurrentIssueNo}}</strong>期 截止时间:<strong>{{winCountDown}}</strong>
    </p>
</div>
<div class="lottery-number-content">
    <div class="lottery-issue-content">
        <div class="lottery-issue-box">
            <p>
                <span>第 <i class="point">{{openIssue}}</i>期</span>
                <button class="swith-btn" [ngClass]="{'switch-type': playModeType==1}"
                    (click)="switchLotteryType(playModeType)">
                    <span class="switch-font">{{playModeType == 1 ? '信用':'官方'}}</span>
                    <i class="toggle-circle"></i>
                </button>
            </p>
        </div>
    </div>
    <div class="lottery-number-box">
        <ng-container *ngFor="let item of numberArr">
            <div class="number-main">
                <span>{{item}}</span>
            </div>
        </ng-container>

        <!-- <button (click)="onClick()" class="refresh-btn">
            <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon>
        </button> -->
    </div>
</div>