<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" *ngIf="!isShowWithDetail">
            <ion-back-button color="light" text=''></ion-back-button>
        </ion-buttons>
        <ion-title align="center" *ngIf="!isShowWithDetail">转账记录</ion-title>
        <ion-buttons slot="end" *ngIf="isShowWithDetail" (click)="close()" tappable>
            <ion-icon name="close" class="font-30" color="light"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-segment [(ngModel)]="type" (ionChange)="perTeam($event)" color="danger" class="pdding-segment">
        <ion-segment-button value="0" class="topleft-rad bottomleft-rad pad" checked>
            <ion-label>个人</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1" class="topright-rad bottomright-rad pad">
            <ion-label>团队</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-row class="filter">
        <ion-col class="filter-left" size="10">
            {{start}}&nbsp;至&nbsp;{{end}}
        </ion-col>
        <ion-col class="filter-right" size="2" (click)="filter()">
            筛选
            <ion-icon name="hourglass"></ion-icon>
        </ion-col>
    </ion-row>
    <div *ngIf="isHave">
        <ion-card *ngFor="let record of records">
            <ion-item lines='none' (click)="enterMain(item)">
                <ion-label>
                    <ion-grid fixed>
                        <ion-row>
                            <ion-col size="6">{{record.UserName}}</ion-col>
                            <ion-col size="6">{{record.AddTime}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">操作金额：<span>{{record.ChangeMoney}}</span></ion-col>
                            <ion-col size="6">账单类别：<span>{{record.ChangeTypeName}}</span></ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="6">变动前金额：<span>{{record.BeforeUserMoney}}</span></ion-col>
                            <ion-col size="6">变动后金额：<span>{{record.AfterUserMoney}}</span></ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">备注：<span>{{record.Commt}}</span></ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-label>
            </ion-item>
        </ion-card>
    </div>
    <app-no-msg *ngIf="!isHave" [msg]='msg'></app-no-msg>
    <ion-refresher *ngIf="!hasmore" slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles"
            refreshingText="加载中...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="doRefresh($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>