<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" text=''></ion-back-button>
        </ion-buttons>
        <ion-title align="center">转账</ion-title>
        <ion-buttons slot="end">
            <ion-button class="font-size-header" (click)="enterDetail()" color="light">
                <ion-icon name="menu" slot="end" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="ion-text-left transfer-top">
        <ion-col size="6" *ngFor="let platform of transferPlatformO">
            <p class="name">{{platform.name}}</p>
            <p class="money">0.000元</p>
        </ion-col>
    </ion-row>
    <div class="account">
        <div class="transferone">
            <p>转出账户</p>
            <div class="platform">
                <div class="item" *ngFor="let o of transferPlatformO"
                    [ngClass]="{'select': out == o.value,'unselect':o.select}" (click)="transferOut(o.value)">{{o.name}}
                </div>
            </div>
        </div>
        <div class="transfertwo">
            <p>转入账户</p>
            <div class="platform">
                <div class="item" *ngFor="let e of transferPlatformE"
                    [ngClass]="{'select': in == e.value,'unselect':e.select}" (click)="transferIn(e.value)">{{e.name}}
                </div>
            </div>
        </div>
        <div class="transfermoney">
            <ion-item>
                <ion-label position="fixed">转账金额</ion-label>
                <ion-input (ionChange)="onKeyPress($event)" [(ngModel)]="Amount" clearInput placeholder="请输入转账金额">
                </ion-input>
            </ion-item>
        </div>
        <div class="transferbtn">
            <ion-button (click)="doTransfer()" expand="block" disabled={{unClick}}>
                转账
            </ion-button>
        </div>
    </div>
</ion-content>