<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" text=''></ion-back-button>
        </ion-buttons>
        <ion-title>新消息({{sumMessage}})</ion-title>
        <ion-buttons slot="end">
            <ion-button class="font-size-header ion-header-button" color="light" [routerLink]="['/friend-list']">
                通讯录&nbsp;
                <ion-icon class="icon-fontsize" ios="ios-people" md="md-people"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="!noNewMsg">
        <ion-list-header>消息</ion-list-header>
        <ion-item *ngFor="let chat of allMessage" (click)="enterChatDetails(chat)">
            <ion-avatar slot="start" class="avatar-pos">
                <img src="assets/images/default.jpg">
                <ion-badge color="danger" *ngIf="chat.NumCount >0" class="badge-abs" slot="end">{{chat.NumCount}}
                </ion-badge>
            </ion-avatar>
            <ion-label>
                <h3>{{chat.NickName}}</h3>
                <p>{{chat.Message}}</p>
            </ion-label>
            <ion-note slot="end">{{chat.CreateTimeStr}}</ion-note>
        </ion-item>
    </ion-list>
    <app-no-msg *ngIf="noNewMsg" [msg]="msg"></app-no-msg>
</ion-content>