<ion-header>
    <ion-toolbar>
        <ion-title>笔记列表</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="container">
    <!-- 主题换肤 -->
    <ion-fab horizontal="end" vertical="bottom" slot="fixed" class="skin">
        <ion-fab-button color="light">
            <ion-icon class="box font-30" name="logo-buffer"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button *ngFor="let skin of skinArr" color="light" (click)="toggleAppTheme(skin.theme,skin)">
                <div class="{{skin.class}}"></div>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>
    <ion-list lines="full">
        <!-- Multi-line sliding item with icon options on both sides -->
        <ion-item-sliding id="item100" *ngFor="let notes of notesList">
            <ion-item href="javascript:;" [routerLink]="['/note-detail',notes.id]">
                <ion-label>
                    <h2>{{notes.notesTitle}}</h2>
                    <p>A new message in your network</p>
                    <p>Oceanic Next has joined your network</p>
                </ion-label>
                <ion-note slot="end">
                    {{notes.updatedAt}}
                </ion-note>
            </ion-item>
            <ion-item-options side="start">
                <ion-item-option>
                    <ion-icon slot="icon-only" name="heart"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="delete(notes.id)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
                <ion-item-option>
                    <ion-icon slot="icon-only" name="star"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>