<ion-header>
    <ion-toolbar>
        <ion-icon slot="start" name="arrow-back" (click)="back()"></ion-icon>
        <ion-title>玩法选择</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="plays">
        <div class="play-box" *ngIf="brickCachedModel.length>0">
            <p class="play-header">历史记录</p>
            <ion-row class="play-content">
                <ion-col size-md="3" size-sm="4" size-xs="4" *ngFor="let memorMoule of brickCachedModel">
                    <button class="game-btn" (click)="choosePlayModeDetail(memorMoule.PlayDetail)">
                        {{memorMoule.PlayMode.LotteryName}}-{{memorMoule.PlayDetail.LotteryPlayDetailName}}
                    </button>
                </ion-col>
            </ion-row>
        </div>
        <div class="play-box">
            <p class="play-header">玩法分类</p>
            <ion-row class="play-content">
                <ion-col size-md="3" size-sm="4" size-xs="4" *ngFor="let item of officialPlayModes">
                    <button class="game-btn" (click)="choosePlayModeType(item)"
                        [ngClass]="{'actived':item.IsSelect}">{{item.LotteryPlayModeName}}</button>
                </ion-col>
            </ion-row>
        </div>

        <div class="play-box">
            <p class="play-header">玩法</p>
            <ion-row class="play-content">
                <ion-col size-md="3" size-sm="4" size-xs="4" *ngFor="let playDetail of officialPlayModelDetails">
                    <button class="game-btn"
                        [ngClass]="{'actived': selectedPlayModeDetail.LotteryPlayDetailCode == playDetail.LotteryPlayDetailCode}"
                        (click)="choosePlayModeDetail(playDetail)">{{playDetail.LotteryPlayDetailName}}</button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>