.container {
	background: #f1f1f1;
}
.title {
	padding: 1rem 0 1rem 2rem;
	font-size: 1.6rem;
	background: #f1f1f1;
	font-weight: bold;
}
.down {
	font-size: 3.5rem;
	color: #be1413;
}
.add {
	font-size: 3.5rem;
	color: #e0dcdc;
}
.label-font{
    font-size: 1.4rem;
}
.item-padding {
	padding: 0.5rem 0;
	// width: 96%;
	border-bottom: 1px solid #ccc;
	--inner-border-width: 0;
}
.item-inner {
	border: none !important;
}
.no-b-b {
	.item-inner {
		border: 0;
	}
}
