@import "../../../../theme/common.scss";


.row {
  margin-bottom: 16px;
}

.lotterty-kind {
  padding: 0px;
  text-align: center;

  button {
    font-size: 1.4rem;
    min-width: 100px;
    height: 2.4em;
    padding: 8px 0px;
    margin-top: 1rem;
    border: 1px solid #be1413;
    background: #fff;
    color: #be1413;
    border-radius: 0.3rem;
    &.actived {
      color: #f9f9f9;
      background: #be1413;
      outline: 0;
    }
  }

  &.lotteries {
    button {
      font-size: 1.3rem;
      min-width: 100px;
      padding: 0px 5px;
    }
  }
}

.lottery-types {
  padding: 0px;
  background: #fff;
  padding-bottom: 1.6rem;
  h5 {
    text-align: left;
    margin: 0px;
    padding: 6px 10px;
    font-size: 1.6rem;
    // border-bottom: 1px solid color($colors, grayone);
  }
}

.lottery-play-models {
  .col {
    button {
      min-width: 84px;
    }
  }
}
