<div class="screen">
    <div class="search-title">
        <ion-grid fixed>
            <ion-row>
                <ion-col *ngFor="let day of nearday" tappable class="ion-text-center" (click)="checkTime(day.num)"
                    size="4" [ngClass]="{'selected': selectNum===day.num}">
                    {{day.name}}
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="search-condition">
        <ion-item class="ion-no-padding" *ngIf="isShowName" lines="full">
            <ion-label class="pad-left">下级用户名:</ion-label>
            <ion-input class="pad-start" placeholder="下级用户名"></ion-input>
        </ion-item>
        <ion-item class="ion-no-padding" *ngIf="changeTypes" lines="full">
            <ion-label class="pad-left">账单类型:</ion-label>
            <ion-select [(ngModel)]="typeCode" placeholder="全部" okText="确定" cancelText="取消">
                <ion-select-option *ngFor="let changetype of changeTypes" value={{changetype.Code}}>{{changetype.Name}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item class="ion-no-padding">
            <ion-label class="pad-left ion-text-left">起始日期:</ion-label>
            <ion-datetime [(ngModel)]="start" displayFormat="YYYY-MM-DD" doneText="确定" cancelText="取消">
            </ion-datetime>
            <ion-icon name="arrow-forward" slot="end" class="color-9"></ion-icon>
        </ion-item>
        <ion-item class="ion-no-padding">
            <ion-label class="pad-left">结束日期:</ion-label>
            <ion-datetime [(ngModel)]="end" displayFormat="YYYY-MM-DD" doneText="确定" cancelText="取消">
            </ion-datetime>
            <ion-icon name="arrow-forward" slot="end" class="color-9"></ion-icon>
        </ion-item>
    </div>
    <div class="main_btns">
        <button class="l" (click)="dismiss()">取消</button>
        <button class="l r primary" (click)="applyFilters()">确定</button>
    </div>
</div>